html {
  margin: 0;
}

span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

#grey {
  background: grey;
}

#white {
  background: rgb(224, 224, 224);
}
#blue {
  background: rgb(14, 14, 173);
}
#yellow {
  background: yellow;
}
#green {
  background: rgb(11, 82, 2);
}

#purple {
  background: rgb(28, 1, 71);
}
#orange {
  background: rgb(255, 81, 0);
}
#red {
  background: rgb(255, 0, 0);
}
